<h1>Dashboard</h1>

<div class = 'row'>
	<div class = 'col-md-4'>
		<h3>Books
		<%= link_to 'New Book', new_book_path, class: 'btn btn-success btn-sm' %>
		</h3>
		<table class="table table-condensed">
		 <thead> 
		 	<tr> 
		 		<th>ID</th> 
		 		<th>Name</th>
		 		<th>Available</th> 
		 		<th></th> 
		 	</tr> 
		 </thead> 
		 	<tbody> 
		 		<% @books.each do |book| %>	
		 			<tr> 
		 			 
		 			<td><%= book.id   %></td> 
		 			<td><%= link_to book.name, book_path(book) %></td> 
		 			<td><%= book.availability %></td> 
		 			<td><strong><%= link_to 'Edit', edit_book_path(book) %></strong></td>
		 			</tr> 
		 		<% end %>	
		 	</tbody> 
		 </table>

	</div>

	<div class = 'col-md-4'>
	<h3>Purchases</h3>
	</div>

	<div class = 'col-md-4'>
	<h3>Sales</h3>
	</div>

</div>
